body {
        background-color: #ff9933;
        background-image: none;
}

div {
    padding-top: 2%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF8C00
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}


#largeSafelyLogo {
max-width:57.7%;
}

.logo {
text-align:center;
margin: auto;
padding-top: 2%;
}

.navbar {
padding-top: 2%;
width: 100%;
}

#map {
height: 400px;
width: 70%;
margin-left: 15%;
margin-top: 2%;
}

.controls {
margin-top: 3%;
border: 1px solid transparent;
border-radius: 0.5% 0% 0% 0.25%;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 8%;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
background-color: #fff;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
margin-left: 12px;
padding: 0 11px 0 13px;
text-overflow: ellipsis;
width: 30%;
}

#origin-input:focus,
#destination-input:focus {
border-color: #4d90fe;
}

#mode-selector {
color: #fff;
background-color: #4d90fe;
margin-left: 4%;
padding: 1% 4% 0% 4%;
}

#mode-selector label {
font-family: Roboto;
font-size: 100%;
font-weight: 300;
}

.Settings {
color: white;
margin-right: 7.5%;
float: right;
text-align: center;
width: 85%;
font-size: 150%;
padding-top: 1.25%;
padding-bottom: 1.25%;
}

button {
background-color: #ff6600;
color: white;
border: none;
font-size:  80%;
}

input[type=text]{
width: 25%;
margin-top: 1
.25%;
margin-bottom: 1.25%;
font-size: 80%;
}


#largeSafelyLogo {
max-width:57.7%;
}


.logo {
text-align:center;
margin: auto;
padding-top: 2%;
}


button:hover { 
filter: brightness(85%); 
}


.navbar {
padding-top: 2%;
width: 100%;
}


.Emergencycontact {
padding: 2%;
height: 20%;
margin: auto;
border-left: 1px solid #ff6600;
border-right: 1px solid #ff6600;
border-bottom: 1px solid #ff6600;
margin-bottom: 2%;
}


.WalkingSpeed {
padding: 2%;
height: 20%;
margin: auto;
border-left: 1px solid #ff6600;
border-right: 1px solid #ff6600;
border-bottom: 1px solid #ff6600;
margin-bottom: 2%;
}


.SafetyRating {
padding: 2%;
height: 20%;
margin: auto;
border-left: 1px solid #ff6600;
border-right: 1px solid #ff6600;
border-bottom: 1px solid #ff6600;
margin-bottom: 2%;
}


.personalsettings {
padding: 2%;
height: 20%;
margin: auto;
border-left: 1px solid #ff6600;
border-right: 1px solid #ff6600;
border-bottom: 1px solid #ff6600;
margin-bottom: 2%;
}


.Addresses {
padding: 2%;
height: 20%;
margin: auto;
border-left: 1px solid #ff6600;
border-right: 1px solid #ff6600;
border-bottom: 1px solid #ff6600;
margin-bottom: 2%;
}


aside {
float: right;
margin:auto;
margin-top: 10%;
bottom:0;
}


p {
margin: 0%;
}


