body {
  background-color: #ff9933;
  background-image: none;
  font-family: 'Source Sans Pro', sans-serif;
  text-align:center;
}

div {
  padding-top: 2%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF8C00
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

#largeSafelyLogo {
  max-width:57.7%;
}

.logo {
  text-align:center;
  margin: auto;
  padding-top: 2%;
}

.navbar {
  padding-top: 2%;
  width: 100%;
}

.controls {
  margin-top: 3%;
  border: 1px solid transparent;
  border-radius: 0.5% 0% 0% 0.25%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 8%;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


#map {
  width: calc(100% - 20px);
  height: 63%;
  float:left;
  position: absolute;
  border-style:solid;
  border-width:2%;
  border-color:white;
  border-radius:2%;
  margin-top: 3%;
}


#panicButtonContainer input {
  border-color: red;
  color: white;
  font-size:100%;
  font-weight:bold;
  background-color: red;
  height: 90px;
  width: 240px;
  border-radius: 50%;
  border: 10px solid red;
  /*margin-left: 20%;
  margin-bottom: 1%;
  float: center;
  position: fixed;
  /*bottom: 0;*/
}

#panicButtonContainer {
  position: relative;
  float: center;
  top: 480px;
}


#destination-input {
  position: fixed;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 10%;
  margin-top: 2%;
  padding: 0 25px 0 13px;
  text-overflow: ellipsis;
  width: 60%;
}

#duration {
  position: absolute;
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  margin-top: 95%;
  margin-left: 1%;
  float: center;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;

}

#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  text-overflow: ellipsis;
  width: 200px;

}

#mode-selector label {

}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 4%;
  margin-top: 35px;
  padding-top: 0px;

}

#mode-selector label {
  font-family: Roboto;
  font-size: 100%;
  font-weight: 300;
}

input[type=text]:not(.map-input){
width: 25%;
margin-top: 1.25%;
margin-bottom: 1.25%;
font-size: 80%;
}

.Settings {
  color: white;
  margin-right: 7.5%;
  float: right;
  text-align: center;
  width: 85%;
  font-size: 150%;
  padding-top: 1.25%;
  padding-bottom: 1.25%;
}

.Settings h1 {
  font-size:5vw;
  background-color: #ff6600;
  border-radius:2px;
}

.Settings p {
  font-size: 4vw;
  color: gray;
  background-color:white;
}

.Settings div {
  padding-top: 0%;
  padding-bottom:10px;
  background-color: white;
}

.Settings select {
  width:95%;
  font-size:100%;
  color:gray;
}

#settingsButton {
  float:left;
  margin-left:6.5%;
  width:88%;
  font-size:100%;
  font-weight:bold;
  height:20%;
}


#privButton{
  width: 45%;
}


input[type=text]{
  width: 25%;
  margin-top: 1.25%;
  margin-bottom: 1.25%;
  font-size: 80%;
}

#largeSafelyLogo {
  max-width:57.7%;
}

.logo {
  text-align:center;
  margin: auto;
  padding-top: 2%;
}


button {
  background-color: #ff6600;
  color: white;
  border: none;
  font-size:115%;
  border-radius: 15px;
  padding: 2px; 
  width: 35%;
  float: center;
  text-align: center;
}

.navbar {
  padding-top: 2%;
  width: 100%;
}

.personalsettings {
  padding: 2%;
  height: 20%;
  margin: auto;
  border-left: 1px solid #ff6600;
  border-right: 1px solid #ff6600;
  border-bottom: 1px solid #ff6600;
  margin-bottom: 2%;
}

input[type=text], input[type="password"]{
  width: 25%;
  margin-top: 1.25%;
  margin-bottom: 1.25%;
  font-size: 80%;
  border-radius: 4px;  
}

input[type=text]:focus,input[type="password"]:focus{
  border: 1.5px solid #000;
}

label{
  display:inline-block;
  width:200px;
  margin-right:30px;
  text-align:right;
}

.Addresses {
  padding: 2%;
  height: 20%;
  margin: auto;
  border-left: 1px solid #ff6600;
  border-right: 1px solid #ff6600;
  border-bottom: 1px solid #ff6600;
  margin-bottom: 2%;
}


aside {
  float: right;
  margin:auto;
  margin-top: 10%;
  bottom:0;
}


p {
  margin: 0%;
}


.privacypolicy {
  margin:0% 2.5% 6% 2.5%;
}

.gdprCheck {
  font-size: 12px !important;
}
