body {
    background-image: url(../img/entry.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

div {
    padding-top: 2%;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF8C00
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}




